{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}

{% block title %}home{% endblock %}
{% block body %}
<style> 
  .content-section {
    /* background-image: url(/static/img/bg-simple1.jpg), url(/static/img/bg111.jpg); */
    /* background-repeat: no-repeat, repeat;  */
    background-color: #ffffff; 
  }
</style>
  
<!-- Header -->
<div class="content-section" style="width:100%">
  <div class="bg-none p-4 mb-5">
    <div class="container h-80">
      <div class="row h-60 align-items-center">
        <div class="col-lg-12">
          <h3 class="display-6 text-white mt-5 mb-2">자동차 비교견적 상담의뢰</h3>
          <p class="lead mb-5 text-white-30" >자동차보험 전문상담센터를 이용하여 고객에 대한 친절한 안내와 최적의 설계서비스를 경험하세요.</p>
        </div>
      </div>
    </div>
  </div>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4">
        <img class="img-circle" src="static/img/auto-insurance-1.jpg" width="100%" height="100%" alt="">
      </div>
      <div class="col-md-9 mb-4">
      <img class="img-rounded" src="static/img/title2.jpg" width="100%" height="100%" alt="">
      </div>
      <div class="col-md-12 mb-4">
        <div class="hr-sect">Category</div>
        <a class="btn btn-info btn-lg" href="{{ url_for('cars.register') }}">자동차보험 견적신청 &raquo;</a>
    </div>
    </div>
    <!-- /.row -->
    
    <div class="row" style="background-color:mintcream;">
      <br>
      <div class="col-md-6 mb-4">
        <div class="card h-80">
          <a class="img-rounded" href="{{ url_for('cars.register') }}">
            <img class="img-rounded" src="static/img/banner1-1.png" width="95%" height="80%" alt="">
          </a>
        </div>
      </div>

      <div class="col-md-6 mb-4">
        <div class="card h-80">
          <a class="btn card-img-top" href="{{ url_for('blog.blogs') }}">
            <img class="card-img-top" src="static/img/banner2.png"  width="100%" height="100%" alt="">
          </a>
        </div>
      </div>
      <div class="col-md-6 mb-4">
        <div class="card h-80">
            <img class="img-circle" src="static/img/banner3.jpg"  width="100%" height="100%" alt="">
        </div>
        
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>


{% endblock %}
