<!DOCTYPE html>
<html lang="ko">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" shrink-to-fit="no">
  
    <title>{{ title }} | Glad Insurance </title>

    <!--최신css-->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
     <!--부가 테마-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap-theme.min.css" rel="stylesheet"> 
    <!--jquery-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!--js-->    
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"> </script>
    
    <link rel="shortcut icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">

    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js'></script>
    <script type="text/javascript" src="static/js/chartjs-plugin-colorschemes.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@0.4.0/dist/chartjs-plugin-datalabels.min.js"></script> 

</head>

<body>
    <nav class="navbar navbar-right bg-dark navbar-fixed-top topnav" role="navigation">
      <div class="container topnav">
        <!-- 상단메뉴의 이름 -->
        <a class="navbar-brand topnav" href="{{ url_for('home.homepage') }}">
          <div class="row">
          <img class="card-img-top" src="/static/img/Logo1.jpg" width="120" height="34" alt=""> 
          <img class="card-img-top" src="/static/img/Logo2.jpg" width="100" height="34" alt="">
        </div>
        </a>
        <!-- 상단 메뉴가 좁아지면서 햄버거 버튼됨 :모바일에서 보임-->
        <div class="navbar-header ">
          <button type="button" class="navbar-toggle collapsed"
                  data-toggle="collapse" data-target="#target">
            <!-- 화면엔 안보이나 검색엔진엔 노출 sr-only-->
            <span class="sr-only">보험상담센터</span>  
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>      
            <span class="icon-bar"></span>
          </button> 
        </div>
  
        <!--펼쳐진 상단 메뉴 -->
        <div class="collapse navbar-collapse" id="target">
          <ul class="nav navbar-nav navbar-right">
           {% if current_user.is_authenticated %}
             {% if current_user.is_admin %}
            <!-- 상단메뉴의 드롭다운메뉴 -->
              <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                  <span>Admin</span>
                  <span class="caret"></span>
                  </a>    
                 <ul class="dropdown-menu">
                  <li><a href="{{ url_for('home.admin_dashboard') }}">Dashboard</a></li>
                  <li><a href="{{ url_for('blog.create') }}">Blog Register </a></li>
                  <li class="divider"></li>
                  <li><a href="{{ url_for('sales.manage_file') }}">File </a></li>                  
                  <li><a href="{{ url_for('sales.line_chart') }}">Line </a></li>
                  <li><a href="{{ url_for('sales.bar_chart') }}">Bar</a></li>
                  <li><a href="{{ url_for('sales.pie_chart') }}">Pie</a></li>

                  <li><a href="{{ url_for('admin.list_employees') }}">Accounts</a></li>
                </ul>
              </li>
             <!-- 상단메뉴의 드롭다운메뉴의 끝 -->
              {% else %}      <!-- 일반로그인 -->
                <li><a href="{{ url_for('home.dashboard') }}">Dashboard</a></li>
              {% endif %}
              <!-- 로그인 -->
              <li><a href="{{ url_for('cars.register') }}">자동차견적신청</a></li>
              <li><a href="{{ url_for('cars.carslist') }}">견적목록</a></li>
              <li><a href="{{ url_for('blog.blogs') }}">자료게시판</a></li>                                
              <ul class="nav navbar-nav navbar-right">
                <li><a href="{{ url_for('auth.logout') }}">로그아웃</a></li>
                <li><a href="{{ url_for('auth.edit_register', id=current_user.id) }}"><i class="fa fa-user-plus"> </i> {{ current_user.username }}님 </a></li>
               </ul> 
            <!-- 미 로그인 -->              
            {% else %}
                  <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                  <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                  <li><a href="{{ url_for('auth.login') }}">Login</a></li>
            {% endif %}
            </ul>
           </div>
        <!--펼쳐진 상단 메뉴끝 -->
        </div>
    </nav>
    
    
    <div class="wrapper">
      {% block body %}
      {% endblock %}
      <div class="push"></div>
    </div>
    <br>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <ul class="list-inline">
                        <li><a href="{{ url_for('home.homepage') }}">Home</a></li>
                        <li class="footer-menu-divider">⋅</li>
                        {% if current_user.is_authenticated %}
                          <li><a href="https://www.globalfm.kr/member/login">GFM</a></li>
                          <li class="footer-menu-divider">⋅</li>
                          <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>
                        {% else %}
                          <li><a href="https://www.globalfm.kr">GFM</a></li>
                          <li class="footer-menu-divider">⋅</li>
                          <li><a href="{{ url_for('auth.register') }}">Register</a></li>
                          <li class="footer-menu-divider">⋅</li>
                          <li><a href="{{ url_for('auth.login') }}">Login</a></li>
                        {% endif %}
                    </ul>
                    <p class="copyright text-muted small">Copyright © 2020. All Rights Reserved, By Bigbossjin</p>
                </div>
            </div>
        </div>
    </footer>
</body>
</html>